<div class="vnideNode" style="top: {{node.position.y}}px; left: {{node.position.x}}px;">
	<div class="inputs"></div>
	<div class="vnideNodeContent">
		<h1>{{title}}</h1>
		<div class="content">
			{{template|safe}}
		</div>
	</div>
	<div class="outputs"></div>
</div>
