<h2>Scenes ({{ project.scenes.length }})</h2>
{% for scene in project.scenes %}
<div class="file" ondblclick="editor.startEditing('scene', '{{ scene.id }}')">
	<img src="./images/ScenePlaceholderIcon.svg" alt="file preview">
	<span>{{ scene.name }}</span>
</div>
{% endfor %}
<div class="file" ondblclick="editor.startEditingNew('scene')">
	<img src="./images/CreateNewIcon.svg" alt="file preview">
	<span>Create New Scene</span>
</div>

<h2>Characters ({{ project.characters.length }})</h2>
{% for character in project.characters %}
<div class="file" ondblclick="editor.startEditing('character', '{{ character.id }}')">
	<img src="{{ character.images[0].url }}" alt="file preview">
	<span>{{ character.name }}</span>
</div>
{% endfor %}
<div class="file" ondblclick="editor.startEditingNew('character')">
	<img src="./images/CreateNewIcon.svg" alt="file preview">
	<span>Create New Character</span>
</div>

<h2>Backgrounds ({{ project.backgrounds.length }})</h2>
{% for bg in project.backgrounds %}
<div class="file" ondblclick="editor.startEditing('background', '{{ bg.id }}')">
	<img src="{{ bg.url }}" alt="file preview">
	<span>{{ bg.name }}</span>
</div>
{% endfor %}
<div class="file" ondblclick="editor.startEditingNew('background')">
	<img src="./images/CreateNewIcon.svg" alt="file preview">
	<span>Create New Background</span>
</div>

<h2>Music ({{ project.music.length }})</h2>
{% for music in project.music %}
<div class="file" ondblclick="editor.startEditing('music', '{{ music.id }}')">
	<img src="./images/MusicPlaceholderIcon.svg" alt="file preview">
	<span>{{ music.name }}</span>
</div>
{% endfor %}
<div class="file" ondblclick="editor.startEditingNew('music')">
	<img src="./images/CreateNewIcon.svg" alt="file preview">
	<span>Create New Music</span>
</div>

<h2>Sounds ({{ project.sounds.length }})</h2>
{% for sound in project.sounds %}
<div class="file" ondblclick="editor.startEditing('sound', '{{ sound.id }}')">
	<img src="./images/SoundPlaceholderIcon.svg" alt="file preview">
	<span>{{ sound.name }}</span>
</div>
{% endfor %}
<div class="file" ondblclick="editor.startEditingNew('sound')">
	<img src="./images/CreateNewIcon.svg" alt="file preview">
	<span>Create New Sound</span>
</div>
