
<div class="sceneInteractiveEditor">
	<div id="vnideSceneEditorPanel" class="vnide">
		<div id="vnideSceneContainer" class="vnide"></div>
		<div class="btn-clear" onclick="editor.clear()">Clear</div>
		<div class="btn-export" onclick="editor.save().then();">Export</div>
		<div class="bar-zoom">
			<button onclick="editor.zoomOut()">-</button>
			<button onclick="editor.zoomReset()">Reset</button>
			<button onclick="editor.zoomIn()">+</button>
		</div>
		<div id="player"></div>
	</div>
</div>

<div id="nodePalette" class="col"></div>
